* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Noto Serif", serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  background-color: #f5f8ff;
}

/* nav section */

nav {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  gap: 20px;
}

nav img {
  margin-top: 30px;
  padding-left: 6px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 40px;
  padding-right: 10px;
}

.menu li a {
  text-decoration: none;
}

.add-to-cart {
  margin-top: 40px;
  padding-right: 10px;
}

.add-to-cart a {
  text-decoration: none;
  color: #000000;
}

.home {
  font-size: 16px;
  font-weight: 700;
  color: #252432;
}

.shop {
  font-size: 16px;
  font-weight: 400;
  color: #8987a1;
}

.about-us {
  font-size: 16px;
  font-weight: 400;
  color: #8987a1;
}

/* banner section */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 80px;
}

.banner-left h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #000000;
  padding-left: 10px;
}

.banner-title-color {
  color: #e95a08;
}

.banner-left p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 1.3rem;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* card section */

.paragraph-font {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.card-section {
  text-align: center;
  margin-top: 90px;
}

.card-section h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-section h2 span {
  color: #e95a08;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 270px;
  margin-top: 40px;
}

.card img {
  width: 100%;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card span {
  font-size: 1.4rem;
  font-weight: 700;
}

.card-button {
  width: 270px;
  padding: 10px 15px;
  background-color: #e95a08;
  color: white;
  font-size: 1rem;
  font-weight: 600;

  border: none;
  margin-top: 20px;
}

/* flower and plants section */

.flower-store-parent-container {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}

.flower-store-img-parent {
  position: relative;
}

.flower-store-img-parent .badge {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -90px;
  right: -90px;
  filter: drop-shadow(0 3px 3px rgb(0, 0, 0));
}

.flower-store-img-parent img {
  width: 100%;
  max-width: 520px;
  height: 597px;
}

.store-details {
  width: 540px;
  height: 521px;
}

.store-title {
  font-size: 50px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

.store-details li {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);

  margin-left: 35px;
}

/* latest deal section */

.latest-deal-section {
  text-align: center;
  margin-top: 80px;
}

.latest-deal-section h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.latest-deal-section h1 span {
  color: #e95a08;
}

.latest-deal-cards {
  display: grid;
  gap: 15px;
  grid-template-columns: 30% 1fr;
  grid-template-rows: repeat(2, 220px);
  margin-top: 50px;
}

.card1 {
  background-image: url("../assets/deal-bloom.png");
  background-size: cover;
  border-radius: 10px;
}

.card2 {
  background-image: url("../assets/deal-bloom.png");
  background-size: cover;
  grid-row: span 2;
  border-radius: 15px;
}

.card3 {
  background-image: url("../assets/deal-ana.png");
  background-size: cover;
  border-radius: 10px;
}

.deal-card {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-deal-cards h1,
a {
  color: white;
}

.card1 h1,
.card3 h1 {
  font-size: 1.3rem;
  font-weight: 700;
}

.card1 a,
.card3 a {
  font-size: 1rem;
  font-weight: 600;
}

.card2 h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.card2 a {
  font-size: 1.5rem;
  font-weight: 600;
}

/* subscribe email section */

.subscribe-section {
  margin-top: 70px;
}

.subscribe {
  background-image: url("../assets/news-letter-bg.png");
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.subscribe input {
  border: none;
  width: 644px;
  height: 40px;
  padding: 8px 20px;
  border-radius: 5px 0 0 5px;
}

.subscribe button {
  background-color: #e95a08;
  border: none;
  color: white;
  height: 40px;
  padding: 8px 20px;
  font-size: 14px;
  width: 190px;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
  margin: 0;
}

.sub-email {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer section */

.footer-section {
  width: 100%;
}

.footer-parent {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 20px 20px 10px 20px;
}

.footer-column img {
  max-width: 150px;
  margin-bottom: 10px;
}

.link-section {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 0 40px;
}

.link-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.link-section li {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #6b7280;
}

.footer-column ul li {
  margin-bottom: 25px;
}

.social-link-section {
  display: flex;
  justify-content: right;
  gap: 24px;
}

.social-link-section img {
  width: 34px;
  height: 34px;
}
